<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jbcu10.dev.medalert">

    <application
        android:name=".config.AppController"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="Medicines" />
        <activity
            android:name=".activity.SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NewMedicineActivity"
            android:label="New Medicine">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.MedicineActivity"
            android:label="Medicine">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.EditMedicineActivity"
            android:label="Edit Medicine">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.RelativeActivity"
            android:label="Relatives">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.NewRelativeActivity"
            android:label="New Relative">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.EditRelativeActivity"
            android:label="Edit Relative">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.RelativeActivity" />
        </activity>
        <activity
            android:name=".activity.FirstAidActivity"
            android:label="First Aid">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.NewRemindersActivity"
            android:label="Create Reminders">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.ReminderActivity"
            android:label="Reminder">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.NewPatientActivity"
            android:label="New Patient">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.PatientActivity"
            android:label="Patient">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.EditPatientActivity"
            android:label="Edit Patient">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.PatientActivity" />
        </activity>
    </application>

</manifest>